<<<<<<< HEAD
 /* Styling the body font, color and font size */
 
 body {
     background-color: white;
     font-family: 'Times New Roman', Times, serif;
     font-size: 14px;
 }
 /* Resizing and styling the image */
 
 img {
     float: right;
     max-width: 100%;
     width: 400px;
     height: 350px;
 }
 
 #bio {
     float: left;
     width: 400px;
     align-content: center;
 }
 
 h3 {
     color: gold;
 }
 
 #hello {
     padding-top: 50px;
 }
 
 #navUl {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }
 
 #navUl>li {
     float: left;
 }
 
 #navUl>li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }
 
 #navUl>li a:hover,
 .dropdown:hover .dropbtn {
     background-color: red;
 }
 
 li.dropdown {
     display: inline-block;
 }
 
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #070707;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }
 
 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }
 
 .dropdown-content a:hover {
     background-color: #f1f1f1;
 }
 
 .dropdown:hover .dropdown-content {
     display: block;
 }
 
 #skills {
     float: left;
     width: 500px;
     align-content: center;
 }
 
 main {
     float: right;
     width: 500px;
 }
 
 aside {
     float: left;
     width: 500px;
     padding-bottom: 20px;
 }
 /* Styling and position the form */
 
 .conform {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding-right: 500px;
     float: left;
 }
 /* Style inputs with type="text",  elements and textareas */
 
 input[type=text],
 input[type=email],
 textarea {
     width: 750px;
     /* Full width */
     padding: 12px;
     /* Some padding */
     border: 1px solid #ccc;
     /* Gray border */
     border-radius: 4px;
     /* Rounded borders */
     box-sizing: border-box;
     /* Make sure that padding and width stays in place */
     margin-top: 6px;
     /* Add a top margin */
     margin-bottom: 16px;
     /* Bottom margin */
 }
 /* Style the submit button with a specific background color etc */
 
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 /* When moving the mouse over the submit button, add a darker green color */
 
 input[type=submit]:hover {
     background-color: #010f02;
 }
 /* Styling the footer */
 
 footer {
     left: 0;
     bottom: 0;
     width: 100%;
     text-align: center;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }
 /* Style the link */
 
 footer a:link {
     color: gold;
 }
 /* After you've visited a link */
 
 footer a:visited {
     color: green;
 }
 /* When moving the mouse over the link */
 
 footer a:hover {
     color: red;
 }
=======
                         /* Styling the body font, color and font size */
                         
                         body {
                             background-color: white;
                             font-family: 'Times New Roman', Times, serif;
                             font-size: 14px;
                         }
                         /* Resizing and styling the image */
                         
                         img {
                             float: right;
                             max-width: 100%;
                             width: 400px;
                             height: 350px;
                         }
                         
                         #bio {
                             float: left;
                             width: 400px;
                             align-content: center;
                         }
                         
                         h3 {
                             color: gold;
                         }
                         
                         #hello {
                             padding-top: 50px;
                         }
                         
                         #navUl {
                             list-style-type: none;
                             margin: 0;
                             padding: 0;
                             overflow: hidden;
                             background-color: #333;
                         }
                         
                         #navUl>li {
                             float: left;
                         }
                         
                         #navUl>li a {
                             display: block;
                             color: white;
                             text-align: center;
                             padding: 14px 16px;
                             text-decoration: none;
                         }
                         
                         #navUl>li a:hover,
                         .dropdown:hover .dropbtn {
                             background-color: red;
                         }
                         
                         li.dropdown {
                             display: inline-block;
                         }
                         
                         .dropdown-content {
                             display: none;
                             position: absolute;
                             background-color: #070707;
                             min-width: 160px;
                             box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                             z-index: 1;
                         }
                         
                         .dropdown-content a {
                             color: black;
                             padding: 12px 16px;
                             text-decoration: none;
                             display: block;
                             text-align: left;
                         }
                         
                         .dropdown-content a:hover {
                             background-color: #f1f1f1;
                         }
                         
                         .dropdown:hover .dropdown-content {
                             display: block;
                         }
                         
                         #skills {
                             float: left;
                             width: 500px;
                             align-content: center;
                         }
                         
                         main {
                             float: right;
                             width: 500px;
                         }
                         
                         aside {
                             float: left;
                             width: 500px;
                             padding-bottom: 20px;
                         }
                         /* Styling and position the form */
                         
                         .conform {
                             border-radius: 5px;
                             background-color: #f2f2f2;
                             padding-right: 500px;
                             float: left;
                         }
                         /* Style inputs with type="text",  elements and textareas */
                         
                         input[type=text],
                         input[type=email],
                         textarea {
                             width: 750px;
                             /* Full width */
                             padding: 12px;
                             /* Some padding */
                             border: 1px solid #ccc;
                             /* Gray border */
                             border-radius: 4px;
                             /* Rounded borders */
                             box-sizing: border-box;
                             /* Make sure that padding and width stays in place */
                             margin-top: 6px;
                             /* Add a top margin */
                             margin-bottom: 16px;
                             /* Bottom margin */
                         }
                         /* Style the submit button with a specific background color etc */
                         
                         input[type=submit] {
                             background-color: #4CAF50;
                             color: white;
                             padding: 12px 20px;
                             border: none;
                             border-radius: 4px;
                             cursor: pointer;
                         }
                         /* When moving the mouse over the submit button, add a darker green color */
                         
                         input[type=submit]:hover {
                             background-color: #010f02;
                         }
                         /* Styling the footer */
                         
                         footer {
                             left: 0;
                             bottom: 0;
                             width: 100%;
                             text-align: center;
                             margin: 0;
                             padding: 0;
                             overflow: hidden;
                             background-color: #333;
                         }
                         /* Style the link */
                         
                         footer a:link {
                             color: gold;
                         }
                         /* After you've visited a link */
                         
                         footer a:visited {
                             color: green;
                         }
                         /* When moving the mouse over the link */
                         
                         footer a:hover {
                             color: red;
                         }
>>>>>>> b1a2cbe9de1f2f7e4f88cb48c97906350c38dc7f
